In [1]:
pcap_file = 'f2724bf2d516c91e8373f7153a595ff1_4.pcap'
#To get this file you MUST to:
#(1) to log-in into ddosdb.org
#(2) search: key:"f2724bf2d516c91e8373f7153a595ff1_4"
#(3) click in "attack_trace" for downloading it!

#NTP attack

<h1 align='center'> !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>FILTERING THE ATTACK DATA!</h1>

## Getting only the src.ip and the ttl from a pcap
- YOU NEED TO HAVE TSHARK INSTALLED ON YOUR COMPUTER!
- USE LINUX, PLEASE!

In [2]:
!tshark -n -r $pcap_file -E separator=\;  -E header=y -T fields -e ip.src -e ip.ttl  > pcap.txt

## Libraries

In [3]:
import pandas as pd 
import numpy as np

## Reading the filtered pcap file into a dataframe

In [4]:
df = pd.read_csv('pcap.txt', error_bad_lines=False, sep=';')

## Quick preview of the dataframe

In [5]:
df.head()

           ip.src  ip.ttl
0     95.91.188.6      47
1     95.91.188.6      47
2  149.202.195.61      51
3    46.105.49.94      55
4    46.105.49.94      55

In [7]:
df_summary = df.groupby(['ip.src'])['ip.ttl'].agg(['count', 'min', 'max','mean','std','median', np.ptp]).reset_index()
df_summary

               ip.src  count  min  max        mean       std  median  ptp
0         1.180.79.42     66   49   49   49.000000  0.000000    49.0    0
1         1.23.211.26      8   50   50   50.000000  0.000000    50.0    0
2        1.34.132.247     28   42   42   42.000000  0.000000    42.0    0
3          1.34.51.90      5   42   42   42.000000  0.000000    42.0    0
4         10.51.160.1     11  247  247  247.000000  0.000000   247.0    0
5       100.12.31.228    946   53   53   53.000000  0.000000    53.0    0
6       100.2.184.195    156   53   53   53.000000  0.000000    53.0    0
7     101.100.163.114      4   49   49   49.000000  0.000000    49.0    0
8      103.12.160.181      6   46   46   46.000000  0.000000    46.0    0
9        103.16.26.67    450   52   52   52.000000  0.000000    52.0    0
10       103.18.72.33      9   50   50   50.000000  0.000000    50.0    0
11       103.2.183.49     39   48   48   48.000000  0.000000    48.0    0
12       103.2.183.51     24   48   48   48.000000  0.000000    48.0    0
13    103.218.229.218      8   48   48   48.000000  0.000000    48.0    0
14    103.225.136.163     32   52   52   52.000000  0.000000    52.0    0
15    103.225.136.216    889   51   51   51.000000  0.000000    51.0    0
16    103.225.136.230     18   52   52   52.000000  0.000000    52.0    0
17    103.225.136.231     84   51   51   51.000000  0.000000    51.0    0
18    103.225.136.242    272   51   51   51.000000  0.000000    51.0    0
19    103.225.136.243    135   51   51   51.000000  0.000000    51.0    0
20      103.228.24.24     33   50   50   50.000000  0.000000    50.0    0
21     103.230.63.204     12   48   48   48.000000  0.000000    48.0    0
22      103.248.42.62      5   50   50   50.000000  0.000000    50.0    0
23    103.253.183.215     10   48   48   48.000000  0.000000    48.0    0
24     103.254.126.13      8   48   48   48.000000  0.000000    48.0    0
25      103.73.68.108     48   46   46   46.000000  0.000000    46.0    0
26    104.200.131.183      1   52   52   52.000000       NaN    52.0    0
27     104.244.77.193    399   53   53   53.000000  0.000000    53.0    0
28      104.41.61.110    300   48   49   48.666667  0.472192    49.0    1
29       106.14.61.27      9   43   43   43.000000  0.000000    43.0    0
...               ...    ...  ...  ...         ...       ...     ...  ...
1204     95.9.226.152      3   46   46   46.000000  0.000000    46.0    0
1205     95.9.239.152     10   47   47   47.000000  0.000000    47.0    0
1206      95.9.29.167     45   44   48   45.600000  1.981735    44.0    4
1207       95.9.85.54     10   43   47   46.600000  1.264911    47.0    4
1208       95.9.93.79     11   43   47   44.090909  1.868397    43.0    4
1209      95.91.188.6     26   47   47   47.000000  0.000000    47.0    0
1210     95.97.242.85     72   58   58   58.000000  0.000000    58.0    0
1211      95.97.88.54     40   59   60   59.900000  0.303822    60.0    1
1212    96.227.130.19     13   53   53   53.000000  0.000000    53.0    0
1213   96.228.242.128     59   50   50   50.000000  0.000000    50.0    0
1214   96.236.151.108    158   53   53   53.000000  0.000000    53.0    0
1215      96.64.209.4     36   51   51   51.000000  0.000000    51.0    0
1216      96.65.78.60    109   53   53   53.000000  0.000000    53.0    0
1217     96.67.201.89     19   50   50   50.000000  0.000000    50.0    0
1218     96.71.89.209     28   52   52   52.000000  0.000000    52.0    0
1219    96.72.162.237     51   50   50   50.000000  0.000000    50.0    0
1220     96.81.153.93     20   52   52   52.000000  0.000000    52.0    0
1221    96.81.166.221     13   53   53   53.000000  0.000000    53.0    0
1222     96.85.146.41     24   52   52   52.000000  0.000000    52.0    0
1223    96.85.160.101     12   51   51   51.000000  0.000000    51.0    0
1224    96.85.243.198     13   49   49   49.000000  0.000000    49.0    0
1225     96.85.243.77     78   50   51   50.897436  0.305352    51.0    1
1226      96.85.81.81     36  113  114  113.861111  0.350736   114.0    1
1227      96.9.140.17     24   50   51   50.250000  0.442326    50.0    1
1228     96.94.157.71     39   51   51   51.000000  0.000000    51.0    0
1229    96.95.199.249     10   51   51   51.000000  0.000000    51.0    0
1230    96.95.199.250     13   52   52   52.000000  0.000000    52.0    0
1231     97.84.39.196     13   52   52   52.000000  0.000000    52.0    0
1232    97.87.148.166     13  115  115  115.000000  0.000000   115.0    0
1233   98.101.144.133    112   50   50   50.000000  0.000000    50.0    0

[1234 rows x 8 columns]

<h1 align='center'> !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>FURTHER ANALYSIS!</h1>

#### REMEMBER:

In [8]:
df_summary.head()

         ip.src  count  min  max   mean  std  median  ptp
0   1.180.79.42     66   49   49   49.0  0.0    49.0    0
1   1.23.211.26      8   50   50   50.0  0.0    50.0    0
2  1.34.132.247     28   42   42   42.0  0.0    42.0    0
3    1.34.51.90      5   42   42   42.0  0.0    42.0    0
4   10.51.160.1     11  247  247  247.0  0.0   247.0    0

In [9]:
df_summary['ptp'].value_counts()

0     1043
1       84
4       66
3       24
2       16
13       1
Name: ptp, dtype: int64

In [12]:
df_summary[df_summary['ptp']==13]

            ip.src  count  min  max       mean       std  median  ptp
777  52.187.63.214    300   30   43  38.666667  6.138498    43.0   13

In [18]:
df[df['ip.src']=='52.187.63.214']['ip.ttl'].value_counts()

43    200
30    100
Name: ip.ttl, dtype: int64