In [69]:
pcap_file = '80f37aac99809f9890e3d5dd9993a2a6.pcap'
#To get this file you MUST to:
#(1) to log-in into ddosdb.org
#(2) search: key:"80f37aac99809f9890e3d5dd9993a2a6"
#(3) click in "attack_trace" for downloading it!

<h1 align='center'> !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>FILTERING THE ATTACK DATA!</h1>

## Getting only the src.ip and the ttl from a pcap
- YOU NEED TO HAVE TSHARK INSTALLED ON YOUR COMPUTER!
- USE LINUX, PLEASE!

In [3]:
!tshark -n -r $pcap_file -E separator=\;  -E header=y -T fields -e ip.src -e ip.ttl  > pcap.txt

<h1 align='center'> !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>FIRST ROUND OF ANALYSIS!</h1>

## Libraries

In [ ]:
import pandas as pd 
import numpy as np

## Reading the filtered pcap file into a dataframe

In [29]:
df = pd.read_csv('pcap.txt', error_bad_lines=False, sep=';')

## Quick preview of the dataframe

In [30]:
df.head()

          ip.src  ip.ttl
0  80.51.214.183      47
1    89.228.8.86      46
2    89.228.8.86      46
3  80.51.214.183      47
4   109.2.223.27      43

## Number of packets per source IP address

In [31]:
summary = df['ip.src'].value_counts()
summary

189.90.244.42      2798
109.2.223.27       2220
61.93.9.158        1875
110.77.140.17      1727
218.216.183.36     1684
180.180.126.177    1676
177.69.215.97      1350
89.228.8.86        1305
80.51.214.183      1259
211.138.248.108    1258
42.112.208.60      1238
175.138.61.51      1210
88.85.171.248      1124
118.70.197.32      1106
217.219.122.38      824
186.227.165.6       812
121.32.89.198       756
118.70.197.18       675
122.154.238.10      661
59.46.49.50         581
118.70.197.2        573
109.161.52.1        415
192.117.105.121     358
118.70.197.42       329
217.15.140.158      312
61.152.126.84       256
190.109.221.46      197
62.219.141.161      190
85.130.222.226      179
61.152.126.82        98
81.5.178.235         51
59.46.49.51          17
Name: ip.src, dtype: int64

## Group by source IP address

In [32]:
summary_max = df.groupby(['ip.src'])['ip.ttl'].max()
summary_max

ip.src
109.161.52.1       45
109.2.223.27       43
110.77.140.17      49
118.70.197.18      49
118.70.197.2       49
118.70.197.32      49
118.70.197.42      49
121.32.89.198      46
122.154.238.10     47
175.138.61.51      53
177.69.215.97      46
180.180.126.177    44
186.227.165.6      44
189.90.244.42      44
190.109.221.46     46
192.117.105.121    44
211.138.248.108    41
217.15.140.158     45
217.219.122.38     41
218.216.183.36     45
42.112.208.60      49
59.46.49.50        44
59.46.49.51        45
61.152.126.82      42
61.152.126.84      42
61.93.9.158        47
62.219.141.161     44
80.51.214.183      47
81.5.178.235       49
85.130.222.226     40
88.85.171.248      45
89.228.8.86        46
Name: ip.ttl, dtype: int64

In [33]:
summary_min = df.groupby(['ip.src'])['ip.ttl'].min()
summary_min

ip.src
109.161.52.1       45
109.2.223.27       43
110.77.140.17      48
118.70.197.18      48
118.70.197.2       48
118.70.197.32      48
118.70.197.42      48
121.32.89.198      45
122.154.238.10     46
175.138.61.51      53
177.69.215.97      46
180.180.126.177    44
186.227.165.6      44
189.90.244.42      44
190.109.221.46     46
192.117.105.121    44
211.138.248.108    41
217.15.140.158     45
217.219.122.38     33
218.216.183.36     44
42.112.208.60      48
59.46.49.50        44
59.46.49.51        45
61.152.126.82      42
61.152.126.84      42
61.93.9.158        47
62.219.141.161     44
80.51.214.183      47
81.5.178.235       49
85.130.222.226     40
88.85.171.248      45
89.228.8.86        46
Name: ip.ttl, dtype: int64

In [35]:
df_summary = pd.concat([summary, summary_min, summary_max], axis=1)
df_summary.columns=['num_packets','min_ttl','max_ttl']
df_summary

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                 num_packets  min_ttl  max_ttl
109.161.52.1             415       45       45
109.2.223.27            2220       43       43
110.77.140.17           1727       48       49
118.70.197.18            675       48       49
118.70.197.2             573       48       49
118.70.197.32           1106       48       49
118.70.197.42            329       48       49
121.32.89.198            756       45       46
122.154.238.10           661       46       47
175.138.61.51           1210       53       53
177.69.215.97           1350       46       46
180.180.126.177         1676       44       44
186.227.165.6            812       44       44
189.90.244.42           2798       44       44
190.109.221.46           197       46       46
192.117.105.121          358       44       44
211.138.248.108         1258       41       41
217.15.140.158           312       45       45
217.219.122.38           824       33       41
218.216.183.36          1684       44       45
42.112.208.60           1238       48       49
59.46.49.50              581       44       44
59.46.49.51               17       45       45
61.152.126.82             98       42       42
61.152.126.84            256       42       42
61.93.9.158             1875       47       47
62.219.141.161           190       44       44
80.51.214.183           1259       47       47
81.5.178.235              51       49       49
85.130.222.226           179       40       40
88.85.171.248           1124       45       45
89.228.8.86             1305       46       46

In [42]:
df_summary['diff']=df_summary['max_ttl']-df_summary['min_ttl']
df_summary

                 num_packets  min_ttl  max_ttl  diff
109.161.52.1             415       45       45     0
109.2.223.27            2220       43       43     0
110.77.140.17           1727       48       49     1
118.70.197.18            675       48       49     1
118.70.197.2             573       48       49     1
118.70.197.32           1106       48       49     1
118.70.197.42            329       48       49     1
121.32.89.198            756       45       46     1
122.154.238.10           661       46       47     1
175.138.61.51           1210       53       53     0
177.69.215.97           1350       46       46     0
180.180.126.177         1676       44       44     0
186.227.165.6            812       44       44     0
189.90.244.42           2798       44       44     0
190.109.221.46           197       46       46     0
192.117.105.121          358       44       44     0
211.138.248.108         1258       41       41     0
217.15.140.158           312       45       45     0
217.219.122.38           824       33       41     8
218.216.183.36          1684       44       45     1
42.112.208.60           1238       48       49     1
59.46.49.50              581       44       44     0
59.46.49.51               17       45       45     0
61.152.126.82             98       42       42     0
61.152.126.84            256       42       42     0
61.93.9.158             1875       47       47     0
62.219.141.161           190       44       44     0
80.51.214.183           1259       47       47     0
81.5.178.235              51       49       49     0
85.130.222.226           179       40       40     0
88.85.171.248           1124       45       45     0
89.228.8.86             1305       46       46     0

<h1 align='center'> !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>FORGET EVERYTHING!</h1>

#### REMEMBER:

In [36]:
df.head()

          ip.src  ip.ttl
0  80.51.214.183      47
1    89.228.8.86      46
2    89.228.8.86      46
3  80.51.214.183      47
4   109.2.223.27      43

## One line of code for calculating ALL stats while aggregating

In [52]:
# https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.core.groupby.DataFrameGroupBy.agg.html
df_summary2 = df.groupby(['ip.src'])['ip.ttl'].agg(['count', 'min', 'max','mean','std', np.ptp])
df_summary2

                 count  min  max       mean       std  ptp
ip.src
109.161.52.1       415   45   45  45.000000  0.000000    0
109.2.223.27      2220   43   43  43.000000  0.000000    0
110.77.140.17     1727   48   49  48.499131  0.500144    1
118.70.197.18      675   48   49  48.093333  0.291115    1
118.70.197.2       573   48   49  48.904014  0.294829    1
118.70.197.32     1106   48   49  48.904159  0.294506    1
118.70.197.42      329   48   49  48.924012  0.265382    1
121.32.89.198      756   45   46  45.727513  0.445534    1
122.154.238.10     661   46   47  46.652042  0.476683    1
175.138.61.51     1210   53   53  53.000000  0.000000    0
177.69.215.97     1350   46   46  46.000000  0.000000    0
180.180.126.177   1676   44   44  44.000000  0.000000    0
186.227.165.6      812   44   44  44.000000  0.000000    0
189.90.244.42     2798   44   44  44.000000  0.000000    0
190.109.221.46     197   46   46  46.000000  0.000000    0
192.117.105.121    358   44   44  44.000000  0.000000    0
211.138.248.108   1258   41   41  41.000000  0.000000    0
217.15.140.158     312   45   45  45.000000  0.000000    0
217.219.122.38     824   33   41  36.813107  3.795056    8
218.216.183.36    1684   44   45  44.193587  0.395226    1
42.112.208.60     1238   48   49  48.076737  0.266281    1
59.46.49.50        581   44   44  44.000000  0.000000    0
59.46.49.51         17   45   45  45.000000  0.000000    0
61.152.126.82       98   42   42  42.000000  0.000000    0
61.152.126.84      256   42   42  42.000000  0.000000    0
61.93.9.158       1875   47   47  47.000000  0.000000    0
62.219.141.161     190   44   44  44.000000  0.000000    0
80.51.214.183     1259   47   47  47.000000  0.000000    0
81.5.178.235        51   49   49  49.000000  0.000000    0
85.130.222.226     179   40   40  40.000000  0.000000    0
88.85.171.248     1124   45   45  45.000000  0.000000    0
89.228.8.86       1305   46   46  46.000000  0.000000    0

#### Resetting Index

In [53]:
df_summary2 = df_summary2.reset_index()
df_summary2

             ip.src  count  min  max       mean       std  ptp
0      109.161.52.1    415   45   45  45.000000  0.000000    0
1      109.2.223.27   2220   43   43  43.000000  0.000000    0
2     110.77.140.17   1727   48   49  48.499131  0.500144    1
3     118.70.197.18    675   48   49  48.093333  0.291115    1
4      118.70.197.2    573   48   49  48.904014  0.294829    1
5     118.70.197.32   1106   48   49  48.904159  0.294506    1
6     118.70.197.42    329   48   49  48.924012  0.265382    1
7     121.32.89.198    756   45   46  45.727513  0.445534    1
8    122.154.238.10    661   46   47  46.652042  0.476683    1
9     175.138.61.51   1210   53   53  53.000000  0.000000    0
10    177.69.215.97   1350   46   46  46.000000  0.000000    0
11  180.180.126.177   1676   44   44  44.000000  0.000000    0
12    186.227.165.6    812   44   44  44.000000  0.000000    0
13    189.90.244.42   2798   44   44  44.000000  0.000000    0
14   190.109.221.46    197   46   46  46.000000  0.000000    0
15  192.117.105.121    358   44   44  44.000000  0.000000    0
16  211.138.248.108   1258   41   41  41.000000  0.000000    0
17   217.15.140.158    312   45   45  45.000000  0.000000    0
18   217.219.122.38    824   33   41  36.813107  3.795056    8
19   218.216.183.36   1684   44   45  44.193587  0.395226    1
20    42.112.208.60   1238   48   49  48.076737  0.266281    1
21      59.46.49.50    581   44   44  44.000000  0.000000    0
22      59.46.49.51     17   45   45  45.000000  0.000000    0
23    61.152.126.82     98   42   42  42.000000  0.000000    0
24    61.152.126.84    256   42   42  42.000000  0.000000    0
25      61.93.9.158   1875   47   47  47.000000  0.000000    0
26   62.219.141.161    190   44   44  44.000000  0.000000    0
27    80.51.214.183   1259   47   47  47.000000  0.000000    0
28     81.5.178.235     51   49   49  49.000000  0.000000    0
29   85.130.222.226    179   40   40  40.000000  0.000000    0
30    88.85.171.248   1124   45   45  45.000000  0.000000    0
31      89.228.8.86   1305   46   46  46.000000  0.000000    0

<h1 align='center'> !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>SECOND PART!</h1>

In [54]:
df_summary2.head()

          ip.src  count  min  max       mean       std  ptp
0   109.161.52.1    415   45   45  45.000000  0.000000    0
1   109.2.223.27   2220   43   43  43.000000  0.000000    0
2  110.77.140.17   1727   48   49  48.499131  0.500144    1
3  118.70.197.18    675   48   49  48.093333  0.291115    1
4   118.70.197.2    573   48   49  48.904014  0.294829    1

In [68]:
import ipaddress
df_summary2['ip.src2'] = df_summary2['ip.src'].apply(lambda x: ipaddress.ip_address(x))
df_summary2

,ip.src,count,min,max,mean,std,ptp,ip.src2
0,109.161.52.1,415,45,45,45.000000,0.000000,0,109.161.52.1
1,109.2.223.27,2220,43,43,43.000000,0.000000,0,109.2.223.27
2,110.77.140.17,1727,48,49,48.499131,0.500144,1,110.77.140.17
3,118.70.197.18,675,48,49,48.093333,0.291115,1,118.70.197.18
4,118.70.197.2,573,48,49,48.904014,0.294829,1,118.70.197.2
5,118.70.197.32,1106,48,49,48.904159,0.294506,1,118.70.197.32
6,118.70.197.42,329,48,49,48.924012,0.265382,1,118.70.197.42
7,121.32.89.198,756,45,46,45.727513,0.445534,1,121.32.89.198
8,122.154.238.10,661,46,47,46.652042,0.476683,1,122.154.238.10
9,175.138.61.51,1210,53,53,53.000000,0.000000,0,175.138.61.51
10,177.69.215.97,1350,46,46,46.000000,0.000000,0,177.69.215.97
11,180.180.126.177,1676,44,44,44.000000,0.000000,0,180.180.126.177
12,186.227.165.6,812,44,44,44.000000,0.000000,0,186.227.165.6
13,189.90.244.42,2798,44,44,44.000000,0.000000,0,189.90.244.42
14,190.109.221.46,197,46,46,46.000000,0.000000,0,190.109.221.46
15,192.117.105.121,358,44,44,44.000000,0.000000,0,192.117.105.121
16,211.138.248.108,1258,41,41,41.000000,0.000000,0,211.138.248.108
17,217.15.140.158,312,45,45,45.000000,0.000000,0,217.15.140.158
18,217.219.122.38,824,33,41,36.813107,3.795056,8,217.219.122.38
19,218.216.183.36,1684,44,45,44.193587,0.395226,1,218.216.183.36
20,42.112.208.60,1238,48,49,48.076737,0.266281,1,42.112.208.60
21,59.46.49.50,581,44,44,44.000000,0.000000,0,59.46.49.50
22,59.46.49.51,17,45,45,45.000000,0.000000,0,59.46.49.51
23,61.152.126.82,98,42,42,42.000000,0.000000,0,61.152.126.82
24,61.152.126.84,256,42,42,42.000000,0.000000,0,61.152.126.84
25,61.93.9.158,1875,47,47,47.000000,0.000000,0,61.93.9.158
26,62.219.141.161,190,44,44,44.000000,0.000000,0,62.219.141.161
27,80.51.214.183,1259,47,47,47.000000,0.000000,0,80.51.214.183
28,81.5.178.235,51,49,49,49.000000,0.000000,0,81.5.178.235
29,85.130.222.226,179,40,40,40.000000,0.000000,0,85.130.222.226
30,88.85.171.248,1124,45,45,45.000000,0.000000,0,88.85.171.248
31,89.228.8.86,1305,46,46,46.000000,0.000000,0,89.228.8.86